<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="register">
        <div class="form-register">
            <div class="logo">
                <img src="./img/Aurora_Elderly-removebg-preview 3.png" alt="">
            <p>tela de cadastro do funcionario</p>
            </div>

        <form action="" class="formulario" method="post">
            <div class="form-nu">
                <label for="name">nome:</label>
                <input type="text" name="name" placeholder="nome">
            </div>
            <div class="form-nu">
                <label for="email">E-mail:</label>
                <input type="text" name="email" placeholder="e-mail">
            </div>
            <div class="form-nu">
                <label for="cpf">cpf:</label>
                <input type="text" name="cpf" placeholder="cpf">
            </div>
            <div class="form-nu">
                <label for="rg">registro-geral:</label>
                <input type="text" name="rg" placeholder="rg">
            </div>
            <div class="form-nu">
                <label for="password">senha:</label>
                <input type="text" name="password" placeholder="senha">
            </div>
            <input class="btn-regis"  type="submit" value="cadastrar">
            </form>
        </div>

        <div class="imagem">
            <img src="./img/jovem-e-idoso 1.png" alt="">            
        </div>

        <!-- <footer>todos os direitos autorais. <br> Desde 2023</footer>-->
    </section>
</body>
</html>