<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <section class="tela-login">
        <div class="img">
            <img src="img/9ea27ceb8918a76cc60cec48790386f1-754x424 2.png" alt="">
        </div>
        <div class="login">
            <div>
                <img src="img/Aurora_Elderly-removebg-preview 1.png" alt="">
                <p>Tela de cadastro do cliente</p>
            </div>

            <div>
                <form  class="form" action="" method="post">
                    <div class="form-na">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" placeholder="nome">
                    </div>
                    <div class="form-na">
                        <label for="email">E-mail:</label>
                        <input type="text" name="email" placeholder="email">
                    </div>
                    <div class="form-na">
                        <label for="cpf">CPF:</label>
                        <input type="text" name="cpf" placeholder="CPF">
                    </div>
                    <div class="form-na">
                        <label for="password">Senha:</label>
                        <input  type="text" name="password" placeholder="senha">
                    </div>

                    <input class="btn" type="submit" value="Cadastrar">
                </form>
            </div>

            <div>
               <p> Todos os direitos reservados.
                Desde 2023</p>
            </div>
        </div>
    </section>
</body>
</html>